.loader-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.error-view-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.failure-img {
  height: 400px;
  width: 600px;
}

.btn {
  background-color: #328af2;
  outline: none;
  border-style: none;
  padding: 5px;
  color: #ffffff;
  border-radius: 2px;
  width: 5%;
}
